
<div class="container">
  <h1>Create Order</h1>
  <%= render "form", order: @order %>
</div>
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    <% provide(:title, 'New Order') %>
    <h1>Create menu</h1>  
          
    </div>
    </div>
    </style>
  </head>

  <body>

  <!-- -->


  <form>
<div class="form-group">
<div class="input-group">
 <div class="input-group-addon">
<i class="fa fa-user"></i>
</div>
<input type="text" id="input_name" class="form-control" placeholder="Tên">
</div>
</div>
<div class="form-group">
<div class="input-group">
<div class="input-group-addon">
<i class="fa fa-headphones"></i>
</div>
<input type="number" id="input_phone" class="form-control" placeholder="Số điện thoại">
</div>
</div>
<div class="form-group">
<div class="input-group">
<div class="input-group-addon">
<i class="fa fa-calendar-check-o"></i>
</div>
<input type="datetime-local" id="input_date" class="form-control datetimepicker" placeholder="Ngày">
</div>
</div>
<div class="form-group">
<div class="input-group">
<div class="input-group-addon">
<i class="fa fa-users"></i>
</div>
<input type="number" id="input_number_person" class="form-control" placeholder="Số người" min="1" max="100">
</div>
</div>
<div class="form-group">
<div id="submit-order" class="btn btn-flat btn-send">
<span>Đặt bàn</span>
</div>
</div>
</form>
    <%= yield %>
    <!-->

     

  </body>
</html>
>>>>>>> test
