
<% provide(:title, 'All tables') %>
<h1>All tables</h1>
<%= will_paginate %>
<table class="table">
	<tr>
		<th>Name</th>
	</tr>
<% @tables.each do |table| %>
<tr>
<td>
  <%= table.name %>
</td>
</tr>
<% end %>
</table>
<%= will_paginate %>
