 <footer class="mastfoot pb-5 bg-white section-padding pb-0">


          <div class="col-lg-4">
            <div class="footer-widget pl-lg-5 pl-0">
              <h4>Newsletter</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <form id="newsletter">
            <div class="form-group">
              <input type="email" class="form-control" id="emailNewsletter" aria-describedby="emailNewsletter" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
          </form>
            </div>
            
          </div>
          <div class="col-md-12 d-flex align-items-center">
            
          </div>
            
        </div>
    </div>
 <div style='width: 800px;'>  
  <div id="map" style='width: 800px; height: 400px;'></div>  
</div>  

<script type="text/javascript">  
handler = Gmaps.build('Google');  
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){  
  markers = handler.addMarkers([  
    {  
      "lat": 20.431424,  
      "lng": 106.135266,  
      "picture": {  
        "width":  32,  
        "height": 32  
      },  
      "infowindow": "SJSU"  
    }  
  ]);  
  handler.bounds.extendWith(markers);  
  handler.fitMapToBounds();  
});  
</script>
</footer> 

